<%= render '/shared/dashboard/header' %>

<div class="container-fluid">
  <%= render '/shared/dashboard/flat_profile' %>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="container-fluid reset-padding">
      <div id='calendar'></div>
    </div>
  <div class="sidebar-left sr-only col-sm-3" id="side-event">
    <%= render 'events/new' %>
  </div>
  <div class="sidebar-bottom-left col-sm-5 col-xs-4">
    <%= render 'purchases/index' %>
  </div>
  <div class="sidebar-bottom-right col-sm-5 col-xs-4">
    <%= render 'events/index' %>
  </div>

</div>



