<ul class="nav nav-sidebar reset-margin">
  <li class="active">
    <a id="shopping-list">
      Shopping List
    </a>
    <%= render 'purchases/new' %>
  </li>
  <%= form_tag update_status_purchases_path, method: :patch,html: {class: "navbar-form form-signin", role: "form"} do %>
    <%  @purchases.each do |purchase| %>
      <div class="disp index-purchase">
        <%= purchase.name %>
        <%= check_box_tag 'bought[]', purchase.id, false, class: 'checkbox-inline checkbox-inline-ben' %>
      </div>
    <% end %>
    <%= hidden_field_tag :flat_id, params[:id] %>
      <li class="disp clearfix">
        <%= submit_tag 'I bought it', class: "btn btn-lg btn-primary btn-block"%>
      </li>
  <% end %>
</ul>