<ul class="nav nav-sidebar reset-margin">
  <li class="active">
    <a id="shopping-list">
      Shopping List
    </a>
    <%= render 'purchases/new' %>
  </li>
  <%  @purchases.each do |purchase| %>
    <li class="disp">
      <table>
        <tr>
          <td class="col-sm-3">
            <%= link_to purchase.name, flat_purchase_path(params[:id],purchase) %>
          </td>
          <td class="col-sm-9 navbar-form">
            <%= form_for [@flat, purchase],html: {class: "navbar-form reset-margin", role: "form"} do |f| %>
                <%= f.text_field :price, class: "form-control", placeholder: "price" %>
                <%= f.hidden_field :flat_id, :value => @flat.id %>
                <%= f.hidden_field :buyer, :value => User.first.id %>
                <%= f.hidden_field :name, :value => purchase.name %>
                <%= f.hidden_field :pending, :value => false %>
                <%= f.submit "I bought it", class: "form-control"  %>
            <% end %>
          </td>
        </tr>

      </table>

    </li>
  <% end %>
</ul>