<% if @errors %>
<ul>
  <% @errors.each do |error| %>
  <li> <%= error %> </li>
  <% end %>
</ul>
<% end %>

<h4 class="form-signup-heading">Create a new stuff to purchase</h4>

<%= form_for [@flat, @purchase],html: {class: "form-group form", role: "form"} do |f| %>
  <%= f.text_field :name, class: "form-control", placeholder: "name" %> <br/>
  <%= f.hidden_field :flat_id, :value => @flat.id %>
  <br>
  <%= f.submit "Save", class: "btn btn-lg btn-primary btn-block"  %>
<% end %>