<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <nav class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Happy Flatmates</a>
    </nav>
    <nav class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" role="form">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success"><%= link_to 'Sign in', flat_path(User.first.flat_id)%></button>
      </form>
    </nav><!--/.navbar-collapse -->
  </div>
</header >
<div class="jumbotron">
  <div class="container">
    <section>
      <header class="text-center">
        <h1>Welcome to Happy flatmate!</h1>
        <h2>A useful app to make sharing flat an amazing experience!</h2>
      </header>
        <% if @errors %>
        <ul>
          <% @errors.each do |error| %>
          <li> <%= error %> </li>
          <% end %>
        </ul>
        <% end %>
        <div class="container">
          <%= form_for @user, html: {class: "form-signin", role: "form"} do |f| %>
            <h2 class="form-signup-heading">Please sign up</h2>
            <%= f.text_field :name, class: "form-control",placeholder: "name" %> <br/>
            <%= f.text_field :email, class: "form-control", placeholder: "Email address"%> <br/>
            <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
          <% end %>
        </div>
        <br>
        <%= render '/shared/list_users' %>
    </section>
  </div>
</div>
<div class="mastfoot">
  <div class="inner">
    <p>Benjamin Tarenne</p>
  </div>
</div>

