<% if @errors %>
<ul>
  <% @errors.each do |error| %>
  <li> <%= error %> </li>
  <% end %>
</ul>
<% end %>

<h2>Create a new event</h2>

<%= form_for [@flat, @event] do |f| %>
  <%= f.label (:title) %>
  <%= f.text_field (:title) %> <br/>
  <%= f.datetime_select (:start) %> <br/>
  <%= f.datetime_select (:end) %> <br/>
  <%= f.submit "Save", class: "save" %>
<% end %>