<% if @errors %>
<ul>
  <% @errors.each do |error| %>
  <li> <%= error %> </li>
  <% end %>
</ul>
<% end %>



<%= form_for [@flat, @event],html: {class: "form-group form-signin", role: "form"} do |f| %>
  <h4 class="form-signup-heading">Create a new event</h4>
  <%= f.text_field :title, class: "form-control", placeholder: "title" %> <br/>
  <%= f.label 'from' %>
  <%= f.datetime_select :start,:use_month_numbers => true %> <br/>
  <%= f.label 'to' %>
  <%= f.datetime_select :end, :use_month_numbers => true %> <br/>
  <br>
  <%= f.submit "Save", class: "btn btn-lg btn-primary btn-block"  %>
<% end %>