<%= render '/shared/dashboard/header' %>
<div class="container-fluid">
  <div class="row">
    <%= render '/shared/dashboard/flat_profile' %>
    <div class="col-sm-5 col-sm-offset-3 col-md-5 col-md-offset-2 main">
      <div class="container-fluid">
        <nav class="navbar-header">
          <h2 class="sub-header inline">Bills</h2>
        </nav>
          <h3 class="sub-header inline">
        <nav class="navbar-header pull-right">
          <button id="next-month" class="next_month btn btn-default">
            <span class="next_month glyphicon glyphicon-play"></span>
          </button>
        </nav>
        <nav class="navbar-header pull-right col-xs-5">
            <select class="form-control">
              <option value="" id="month">
                <%= @bills[1].created_at.strftime("%b") %> - <%= @bills[1].created_at.year %>
              </option>
            </select>
        </nav>
        <nav class="navbar-header pull-right">
          <button id="prev-month" class="btn btn-default">
            <span class="glyphicon glyphicon-play rotate180"></span>
          </button>
        </nav>
          </h3>

      </div>
      <div class="table-responsive">
        <table class="table table-striped fixed-header">
          <thead>
            <tr>
              <th>Item</th>
              <th>Price</th>
              <th>User</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <%  @bills.each do |bill| %>
              <tr class="bills sr-only">
                <td><%= bill.item %></td>
                <td><%= bill.price %></td>
                <td><%= @users.find(bill.user_id).name %></td>
                <td><%= bill.created_at.to_date.day %></td>
                <td>
                  <%= button_to "Edit", edit_flat_bill_path(flat_id: params[:flat_id],id: bill.id), method: 'get', class: "btn btn-info btn-sm" %>
                </td>
                <td class="sr-only"><%= bill.created_at.to_date %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <%= render 'bills/new' %>
      </div>
    </div>
    <div class="col-sm-5 col-md-5 main">
      <div class="container-fluid">
        <nav class="navbar-header">
          <h3 class="sub-header inline">Debts from last month?</h3>
        </nav>
        <%= render 'balances/index' %>
      </div>
    </div>
  </div>
</div>
<div id="current-date" class="sr-only"><%= @bills[0].created_at%></div>
<%= javascript_include_tag 'bills' %>